/*******************
Base Styles
*********************/
.padng-none{padding: 0 !important;}
.fullWidth{ float:left; width: 100%;}
.positionRel{position: relative;}
.padng-left{padding-left:0;}
.padng-right{padding-right:0;}
.padng-left5{padding-left:5px;}
.padng-right5{padding-right:5px;}
.padng5{padding:0 5px;}
.padng15{padding-left:15px; padding-right:15px;}
.pushLeft{float:left;}
.pushRight{float:right;}
