@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,600i,700,800');


// Fonts path here
$fa-font-path: "../fonts" !default;
$Montserrat: 'Montserrat', sans-serif; 
// images path 
$theme-assetPath: "../images" !default; 
// images path 
$theme-iconsPath: "../images/icons/" !default;
//sprite path 
$sprite-iconPath: "Icf-homepage-icon.png";

