$phone-screen-xs: 320px;    	 // resolutions for mobile
$tablet-width: 768px;			// resolutions for tablet
$laptops-screen-md: 998px;		// resolutions for desktop and laptops
$desktop-screen-lg: 1200px;		// resolutions for large monitors

