//Border Radius
@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	-goog-ms-border-radius: $radius;
	border-radius: $radius;
}
@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
   border-top-left-radius: $radius;
}
@mixin border-right-radius($radius) {
  border-bottom-right-radius: $radius;
     border-top-right-radius: $radius;
}
@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
   border-bottom-left-radius: $radius;
}
@mixin border-left-radius($radius) {
  border-bottom-left-radius: $radius;
     border-top-left-radius: $radius;
}

//Box Shadow
@mixin box-shadow($shadow) {
	-webkit-box-shadow: $shadow;
	-moz-box-shadow: $shadow;
	-o-box-shadow: $shadow;
	box-shadow: $shadow;
}


//Text Shadow
@mixin text-shadow($tShadow : 0px 1px 3px rgba(0,0,0,.5)) {
	-webkit-text-shadow: $tShadow;
	-moz-text-shadow: $tShadow;
	-o-text-shadow: $tShadow;
	text-shadow: $tShadow;
}



//Transition
@mixin transition($transitionvalue : all .25s ease-in-out){
	-webkit-transition:$transitionvalue;
	-o-transition:$transitionvalue;
	-moz-transition:$transitionvalue;
	transition:$transitionvalue;
}

@mixin transparent($color, $alpha) {
	$rgba: rgba($color, $alpha);
	$ie-hex-str: ie-hex-str($rgba);
	background-color: transparent;
	background-color: $rgba;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
	zoom: 1;
}

@mixin transform($transform: scale(0.9, 0.9)){
	-webkit-transform:$transform;
	-o-transform:$transform;
	-moz-transform:$transform;
	transform:$transform;
}

@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent); // Opera 12
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1); // IE9 and down
}
// Screen Breakpoint here
@mixin phone {
  @media (min-width: #{$phone-screen-xs}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$laptops-screen-md - 1px}) {
    @content;
  }
}
@mixin laptops {
  @media (min-width: #{$laptops-screen-md}) and (max-width: #{$desktop-screen-lg - 1px})  {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop-screen-lg}) {
    @content;
  }
}

@mixin col-no-padding {
   padding-left: 0px;
   padding-right: 0px;
} 

// Full-row
@mixin fullRow{
	 float: #{$left};
	 min-width: 100%;
}
@mixin absoluteCenter {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
@mixin text-uppercase{
	text-transform: uppercase;
}




@mixin placeholder($placeholder, $fontSize) {
	&::-webkit-input-placeholder { color: $placeholder; font-size:$fontSize; }
	&::-moz-placeholder { color: $placeholder; font-size:$fontSize; }
	&:-ms-input-placeholder {color: $placeholder; font-size:$fontSize;}
	&:-moz-placeholder { color: $placeholder; font-size:$fontSize;}
}

@mixin icf-spritimg($position) {
	width: 100px;height:100px;   
	background:{
		image: url($theme-iconsPath+$sprite-iconPath);
		position: $position;
        repeat: no-repeat;
	} 
	display: inline-block;
}
