// =================================
// Color palette generator
// =================================
$yellow:             #fec72f;
$brightYellow:       #fcee18;
$black:              #000000;
$lightBlack:         #393939;
$darkGray:           #777777;
$gray:               #848b8d;
$lightgray:          #adb4b6;
$d1d1d1:             #d1d1d1;
$white:              #ffffff;
$darkBlue:           #0c1247;
$Blue:               #131b6c;
$lightBlue:          #676b91;
$skyBlue:            #a7afff;


$border-color: $yellow;
$button-color: $yellow;
$button-text: $black;
$heading-txt: $white;
$color-main: $skyBlue;
$placeholder-color: $gray;
$WhyBookUs-bgColor: $lightBlack;
$DealsSteals-bgColor: $Blue;
$footer-bgcolor: $darkBlue;
$text-hover: $white;
$header-bg: $Blue;
$searchWidget-txt: $white;
$searchWidget-border: $d1d1d1;



$alpha : 0.5;
$font-size-base:        14px; //Important To Be 14px For FontAwesome Rendering
$font-size-small:       12px;

// For Font Weight styles
$weight-light:          300;
$weight-normal:         400;
$weight-medium:         500;
$weight-semibold:       600;
$weight-bold:           700;

//For RTL, Use It For Floatation
$left: left;
$right: right;
