// =================================
// Color palette generator
// =================================
$yellow:             #fec72f;
$back:               #000000;
$lightBlack:         #393939;
$darkBlue:           #0c1247;
$Blue:               #131b6c;
$lightBlue:          #676b91;
$skyBlue:            #a7afff;
$white:              #ffffff;



$border-color: $yellow;
$heading-txt: $white;
$color-main: $skyBlue;



