.deal-container{
	//ICF Deals fillter Tab

	clear: both;

	.subHeading{ 
		font-size:25px; 
		color:$yellow;
	}

	//ICF Deals fillter Tab 

	ul{
		&.resp-tabs-list{
			list-style-type:none;	
			border-bottom:solid 1px $yellow;
			li{
				display: inline-block;
				font-size: 18px;
				color:$lightBlue;
				padding:1% 4%;
				margin:0 3%;
				font-weight: 500;
				position:relative;
				@media screen and (max-width: $desktop-screen-lg) {
    	  			margin:0 2%;
    	        }
    	        @media screen and (max-width: $laptops-screen-md) {
    	  			margin:0 0;
    	        }	   
    	        @media screen and (max-width: $tablet-width) {
    	  			padding:1% 1%;
    	        }  
    	        &:hover,&.resp-tab-active{
					background:$yellow;
					@include border-top-radius(4px);
					color: $Blue;
					cursor: pointer;
				}
			}

		}
	}
	//icf deals iteam group here
	.tabs_item{
		display: none;
		padding: 30px 0;

		&:first-child {
			display: block;
		}		
	}
	.resp-tabs-container{
		@include fullRow;
		padding-top: 10px;

		ul{
			display: block;
			text-align: center;
			@extend .padng-none;
			list-style-type: none;
			list-style: none;

			> li{				
				width: 23%;
				margin: 0 0.8% 2% 0.8%;
				@extend .padng-none;
				list-style-type: none;
				list-style: none;
				display: inline-block;

				@include phone {	    	  				
	    	  		width: 47%;
				}
				
				figure {
					position: relative;
					overflow: hidden;
					width: 100%;	
					cursor: pointer;
					&.effect-layla {
						background: $black;
					}
					li figure figcaption,
					> a {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
					}
					
					figcaption {
						color: $white;
						text-align:left;
						font-size: 1.25em;
						-webkit-backface-visibility: hidden;
						backface-visibility: hidden;
						@include gradient-vertical(rgba($black,0), rgba($black,1), 80%, 100%);		
						.dealsDeatails{
										position:absolute;
										bottom:0;
										font-size: 12px;
										text-align: left;
										@include phone{
											background: $white;
											color: $lightBlack;
											font-size: $font-size-mobile;
											padding: 5px;		
											width: 100%;									
										}
										h4{ 
											font-weight:500; 
											margin-bottom:5px;
											@include phone{
												font-size: $font-size-small;												
											}
										}					
										span{
											font-size: 18px;
											color: $brightYellow;
											font-weight:600;											
											@include phone{
												bottom: 3px;
												color: $Blue;
												font-size: $font-size-base;
												position: absolute;												
												right: 5px;
											}
										}
									}
					}
				}
			}
		}		

	}
}

.icf-effect-btn{
	@include phone{
		display: none;
	}
	&:link, &:visited, &:focus{
		//text-decoration: none;
		//transition: all .2s;
		//position: relative;		
		outline: none;	
		
	}
	&:hover{
		transform: translateY(-3px);
		
			&::after{
				transform: scaleX(2.4) scaleY(1.6);
				opacity: 0;
			}
			&:active{ 
				//margin-top: 1px;
				transform: translateY(-37px);
				box-shadow: 0 1px 1px rgba($black, 0.8);	
			}
	}
	
	&::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        position: absolute;top: 0; left: 0; z-index: -1;
        transition: all 0.4s;
    }
}
.btn-white{
	background-color: $white;   
	color: $darkGray;
	box-shadow: 0 3px 3px rgba($black, 0.5);
	&::after{
		background-color: $white;  
	}
}


/*---------------*/
/***** Layla *****/
/*---------------*/



figure.effect-layla {
	img {
		height: 100%;
		-webkit-transform: translate3d(0,0px,0);
		transform: translate3d(0,0px,0);
		@include phone {	    	  				
			width: 100%;
		}
	}
}

figure{
	&.effect-layla {
		    .dealsDeatails {
				position:absolute;
				padding:10px;
				bottom:0;	
				-webkit-transition: -webkit-transform 0.35s;
				transition: transform 0.35s;
			}
			button {
				text-transform: none;
				opacity: 0;
				-webkit-transform: translate3d(0,-10px,0);
				transform: translate3d(0,-10px,0);
				color: $black;
				background: $white;
				position: absolute;
				z-index: 10000;
				top: 50%;
				left: 30%;
				bottom: 5px;
				right: 0;
				width: 110px;
				height: 40px;
				font-size: 18px;
				font-weight: 500;
				border: none;
				vertical-align: middle;				
				
			}
			img, button {
				-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
				transition: opacity 0.35s, transform 0.35s;
			}
			&:hover{
				img {
					opacity: 0.4;
					-webkit-transform: translate3d(0,-30px,0);
					transform: translate3d(0,-30px,0);
				}
				button {
					opacity: 1;
					-webkit-transform: translate3d(0,-40px,0);
					transform: translate3d(0,-40px,0);
				}
			}
	}
}



li figure figcaption,
li figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
li figure figcaption > a {
	z-index: 1;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

/* ----------------------------------------- Deals tab 2  ------------------------------------ */

ul.resp-tabs-list,
p {
  margin: 0px;
  padding: 0px;
}

.resp-tabs-list li {
  font-weight: 600;
  font-size: 13px;
  display: inline-block;
  padding: 13px 15px;
  margin: 0;
  list-style: none;
  cursor: pointer;
}

.resp-tabs-container {
  padding: 0px;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  /*padding: 15px;*/
}

.resp-tab-active {
  border-bottom: none;
}

.resp-content-active,
.resp-accordion-active { display: block; }


h2.resp-accordion {
  font-size: 20px;
  color: $heading-txt;
  margin: 0px;
  padding: 10px 15px;
}

h2.resp-tab-active {
  border-bottom: 0px solid #c1c1c1 !important;
  margin-bottom: 0px !important;
  padding: 10px 15px !important;
}

h2.resp-tab-title:last-child {
  border-bottom: 12px solid #c1c1c1 !important;
  background: blue;
}

/*-----------Vertical tabs-----------*/

 .resp-vtabs ul.resp-tabs-list {
		float: left;
		width: 30%;
	}
  
  .resp-vtabs .resp-tabs-list li {
	display: block;
	margin: 0;
	cursor: pointer;
	float: none;
    }
  
  .resp-vtabs .resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	border: 1px solid #c1c1c1;
	float: left;
	width: 68%;
	min-height: 250px;
	border-radius: 4px;
	clear: none;
  }
  
  .resp-vtabs .resp-tab-content { 
	  border: none; 
	}
  
  .resp-vtabs li.resp-tab-active {
	border: 1px solid #c1c1c1;
	border-right: none;
	background-color: #fff;
	position: relative;
	z-index: 1;
	margin-right: -1px !important;
	padding: 14px 15px 15px 14px !important;
  }
  
  .resp-arrow {
	@include spritPosition(-140px, -382px, 20px, 20px);
	float: right;
	margin-top: 3px;
	
  }
  
  h2.resp-tab-active span.resp-arrow {
	border: none;
	@include spritPosition(-79px, -381px, 20px, 20px);
  }
  
  /*-----------Accordion styles-----------*/

  
  .resp-easy-accordion h2.resp-accordion { display: block; }
  
  .resp-easy-accordion .resp-tab-content { border: 1px solid #c1c1c1; }
  
  .resp-easy-accordion .resp-tab-content:last-child { border-bottom: 1px solid #c1c1c1 !important; }
  
  .resp-jfit {
	width: 100%;
	margin: 0px;
  }
  
  .resp-tab-content-active { display: block; }
  
  /*Here your can change the breakpoint to set the accordion, when screen resolution changed*/
  @include phone{
  
		ul.resp-tabs-list { 
		display: none; 
		}
  
		h2.resp-accordion { 
			display: block; 
			border-top: solid 1px #22296d;  
			}
  
		.resp-vtabs .resp-tab-content { 
			border: 1px solid #C1C1C1; 
			}
  
		.resp-vtabs .resp-tabs-container {
			border: none;
			float: none;
			width: 100%;
			min-height: initial;
			clear: none;
			}
  
		.resp-accordion-closed { 
			display: none !important; 
			}
  
		.resp-vtabs .resp-tab-content:last-child { 
			border-bottom: 1px solid #c1c1c1 !important;
			}
		.demo{
			margin:5%;
			width:90%;
			}
		.how-use{
			display:none;
			float:left;
			width:300px;
			}
  	}

	#tabInfo{
		display:none;
	}  

