.footer-bg{
	background: $footer-bgcolor;	
	font-family: $Montserrat;
	color: $heading-txt;	
}

.top-border{ border-top:solid 1px rgba($white, 0.1);  }

.sitemap{
	ul{
		list-style: disc;
		outline: none;
		padding-left: 15px;
		line-height: 22px;
		color: $color-main;
		margin-bottom: 0;
		li{
			a{
				text-decoration: none;
				cursor: pointer;
				color: $color-main;
				font-size: 13px;
				&:hover{
					color: $text-hover;
				}
			}
		}
	}
}

.signup{
	h5{
		line-height: 18px;
	}
	.callus-txt{
		display: block;
		margin-top: 10px;	
		font-size: 13px;	
	}
	h3{
		margin-top: 2px;
	}
}

.tfoot-subscribe{
	.form-control{
		@include border-left-radius(0);
		@extend .subscribe-input;
		border:none;
	}
	.btn.subscribe-btn{
			@include border-right-radius(0);
			@extend .input-btn;	
						
		}
}

.partners-row{
	font-size:$font-size-small;
	.payment-icon{ @include spritPosition(9px, -323px, 395px, 43px);	}
	img{margin-top:15px;}
} 

.note-txt{
	color:$color-main;
}