@import 'navigation';
#header{
	background: $header-bg;
	border-top: solid 2px $yellow;		
	box-shadow: 0px 2px 2px rgba($black, 0.5);	
	font-family: $Montserrat;
	position: relative;
	transform: translateZ(0);
	transition:all 0.5s;	
    z-index: 55;

	.logo{
		margin:10px 0 5px 0; 
		width: 150px;
		@include tablet{
			width: 110px;
		}
		@include phone {
				width: 70px;
		}

		a{
			img{
				max-width: 100%;
				transition: all .2s ease-in-out;
			}			
		}
	}

}

.btn-mobile-call{
	background:$button-color;
	color: $Blue;			
	text-align: center;
	font-size: $font-size-base;
	width: 50px;
	height: 26px;
	font-weight: 500;
	line-height: 26px;
	border-radius: 3px;
	margin: 15px;
}

.call-support{	
	margin:10px 0;

	.support{
		margin-bottom: 2px;
		span{
			display: inline-block;
			margin-bottom: -2px;
		}
	}

	a{
		display: inline-block;
		font-size: $font-size-mobile;
		padding-left:5px;
		
		@include desktop {
							font-size: $font-size-small;
						}

		.cust-support{	
			@include spritPosition(-148px , -8px, 20px, 16px);
		}
		.Reservations{		
			@include spritPosition(-114px, -7px, 20px, 16px);	
		}

		&.toll-free{
			font-size: $font-size-large; 		
			font-weight: $weight-semibold;

			@include desktop {
				font-size: $font-size-x-large;	
			}
			 
			span{
				@include spritPosition(-69px, 0px, 38px, 30px);				
				margin-bottom: -4px;
			}
		}
	}

}