/*******************
WhyBookUs Styles
*********************/

.latesteals-warp { 
	position:relative;
	color:$white;
	font-family: $Montserrat;
	font-weight:normal;
	@extend .fullWidth;
	.deals-content {
		 background: rgba($black, 0.5);
		 position:absolute;
		 bottom:0; 
		 width:100%;
		 padding:5px;
		 display: table;
		 ul{
		 	list-style-type: none;
		 	outline: none;
		 	padding:0;
		 	margin:0;

		 	li{
			 	width: 50%; 
			 	display: table-cell;
			 	font-size: 14px;
			 	vertical-align: bottom;
			 	@extend .positionRel;
				 	strong{ 
				 		color: $yellow;
				 	}
				 	span{ 
				 		font-size:18px;
				 	}
		 	}
		 }
		 .lastDeal-price{
		 	display:table-cell;
		 	vertical-align: bottom;		 	
		 	
		 }
	}
}
.WhyBookUs-bg{ 
	background:$WhyBookUs-bgColor;	
	p{
		font-size: 12px;
	}
}
.whyBookUs-Icon{ 
	width:28%; 
	float:left;	
	span{
	&.icf-spritimg{
        @include icf-spritimg(-131px -135px, 85px, 85px);
        margin-top: 30px;
    }			
		
	}
}
.whyBookUs-txt{ width:70%; 				
				color:$white;
				ul{ list-style-type:none;
					padding-left:0;
					li{ 
						line-height:24px;
						font-size:10px;

						&:before{
							display:inline-block;
							content:'-';
						}
					}
				}
}
.exclusiveDeals{
	margin:19px 0;
	input[type]{ 
		@include box-shadow(none);		
		@include placeholder($placeholder-color, 12px) ;
	}
	span{ background:$yellow; color:$black; border:none;}
}