/*******************
WhyBookUs Styles
*********************/

.latesteals-warp { 
	position:relative;
	color:$white;
	font-family: $Montserrat;
	font-weight:normal;
	@extend .fullWidth;
	.deals-content {
		 background: rgba($black, 0.5);
		 position:absolute;
		 bottom:0; 
		 width:100%;
		 padding:5px 15px;
		 display: table;
		 ul{
		 	list-style-type: none;
		 	outline: none;
		 	padding:0;
		 	margin:0;

		 	li{
			 	width: 50%; 
			 	display: table-cell;
			 	font-size: 14px;
			 	vertical-align: bottom;
			 	@extend .positionRel;
				 	strong{ 
				 		color: $yellow;
				 	}
				 	span{ 
				 		font-size:18px;
				 	}
		 	}
		 }
		 .lastDeal-price{
		 	display:table-cell;
		 	vertical-align: bottom;		 	
		 	
		 }
	}
}
.WhyBookUs-bg{ 
	background:$WhyBookUs-bgColor;	
	padding:5px 15px 15px 15px;
	h4{margin-bottom:5px;}
	p{
		font-size: 13px;
	}
	@media only screen and (min-width : $tablet-width) and (max-width : $laptops-screen-md) {
							min-height: 135px;
							display: block;
						}
}
	
	.whyBookUs-Icon{
		margin-top: 15px;
		display: inline-block;
		
	&.icf-spritimg{
        @include icf-spritimg(-131px -135px, 85px, 85px);    
        @media screen and (max-width: $desktop-screen-lg) {
    	  	display: none;
    	  }	    	  
    	}	
    	  	
}
.whyBookUs-txt{ 
 @media screen and (max-width: $desktop-screen-lg) {
 	width: 100%;
 }
	width:73%; 				
				color:$white;
				ul{ list-style-type:none;
					padding-left:0;
					margin:0;
					li{ 
						line-height:20px;						
						font-size: 10px;
						&:before{
							display:inline-block;
							content:'-';
						}
						@media only screen and (min-width : $tablet-width) and (max-width : $laptops-screen-md) {
							line-height: 13px;
						}		
						@media screen and (max-width: $tablet-width) {
							line-height: 20px;
						}					
					}
				}
}
.exclusiveDeals{
	margin-top:10px;
	input[type]{ 
		@extend .subscribe-input;
	}
	span{ 
		background:$button-color; 
		.btn{ 
			@extend .input-btn;	
			@extend .padng-none;
			border:none; 
			 }
	}
}