 .icf_SearchWidgetWarp {
   width: 100%;
   float: left;
   background: rgba(0, 0, 0, 0.7);
   padding: 15px;
   font-family: "Montserrat", sans-serif;
   h2 {
     margin: 0px;
     padding: 0px;
     color: $white;
     font-size: 22px;
     font-weight: $weight-medium;
     padding-top: 6px;
     padding-bottom: 5px;
   }
   .flight-trip-type {
     @include fullRow;
     margin-bottom: 15px;
     ul {
       margin: 0px;
       padding: 0px;
       list-style: none;
       li {
         background: none;
         color: $yellow;
         cursor: pointer;
         font-size: 12px;
         font-weight: $weight-medium;
         @include transition;
         padding-left: 0;
         padding-right: 10px;
         // switchstart /
         .Switch {
           position: relative;
           height: 18px;
           border: 1px solid $yellow;
           @include border-radius(30px);
           background: $yellow;
           box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1), inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
           cursor: pointer;
           &.Round {
             padding: 0px 20px;
             top: 3px;
             width: 45px;
             &.On {
               .Toggle {
                 left: 0%;
               }
             }
             &.Off {
               .Toggle {
                 left: 56.2%;
               }
             }
           }
           /*span {
               display: inline-block;
               width: 35px;
               &.On {
                   color: #33d2da;
               }
           }*/
           .Toggle {
             position: absolute;
             top: -1px;
             background: $white;
             box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
             @include transition;
             width: 18px;
             height: 18px;
             @include border-radius(50%);
           }
         }
         &.clor-light {
           color: $lightgray;

         }

       }
     }
    }
   // Search Widget Area
   .flight-searchGroup, .trip-date_searchGroup, .travelers-selector{
     position: relative;
     .ember_inputGroup{
       @extend .positionRel;
       border-bottom: 1px solid $white;
       padding-bottom: 4px;
       width: 90%;
         label{
           margin-bottom: 2px;
           >span{
             color: $c9caca;
             font-size: 14px;
             font-weight: $weight-light;
             padding: 0;
           }
         }
         .typeahead{
           width: 100%;
           border: 0px;
           height: 37px;
           padding: 0px;
           padding-right: 30px;
           background: transparent;
           box-shadow: 0px 0px;
           text-transform: uppercase;
           color: $white;
           font-size: 24px;
           font-weight: $weight-semibold;
           &.form-control{
             @include border-radius (0);
             &[placeholder]{
               color: $white;
             }
             &::-webkit-input-placeholder{
               color : $white;
               text-transform: none !important;
             }
             &::-moz-placeholder{
               color : $white;
               text-transform: none !important;
             }
             &:-ms-input-placeholder{
               color : $white;
               text-transform: none !important;
             }
           }
           &.sub_location{
             text-transform: inherit;
             font-size: 14px;
             font-weight: $weight-light;
             height: auto;
           }
         }
       .clear-input{
         color: #fff;
         @include border-radius(50%);
         cursor: pointer;
         position: absolute;
         top: 30px;
         right: 5px;
         font-weight: 600;
         width: 20px;
         height: 20px;
         text-align: center;
         @include transparent ($white, 0.5)
       }
     }
   }
   //depart and Retrun Date area
   .trip-date_searchGroup{
      margin-top: 20px;
     .calendarField{
       font-size: 14px;
       font-weight: $weight-light;
       color: $white;
     }
   }

   //travelers and Coach Area
   .travelers-selector{
     margin-top: 20px;
     .pasngr-field{
       position: relative;
       .typeahead {
         padding-left: 30px;
         letter-spacing: 2px;
         cursor: default;
        }
     }
     .coach-selector{
       .typeahead {
         padding-left: 30px;
         cursor: default;
       }

     }
   }

 }
 .ember_wsepartor{
   position: absolute;
   width: 45px;
   height: 45px;
   top:50%;
   left: 50%;
   margin-left: -22px;
   margin-top: -22px;
   z-index: 50;
   &[role=switch-city]{cursor:pointer}
 }
 // widget Sprite Group
 .widget_sprite{
   width:45px;
   height: 45px;
   background-image: url('../images/icons/widget_sprite.png');
   background-repeat: no-repeat;
   display: inline-block;
   &.flight-swipe-icon{
     background-position: 0 0;
   }
   &.separtor-icon{
     background-position: 0 -135px;
   }
   &.ptravelers-icon{
     background-position: -6px -46px;
     position: absolute;
     top: 18px; left: -4px;
     width: 28px;
   }
   &.classCoach-icon{
     background-position: -6px -88px;
     position: absolute;
     top: 18px; left: -4px;
     width: 28px;
   }
 }

