 .icf_SearchWidgetWarp {
   width: 100%;
   float: $left;
   background: rgba($black, 0.7);
   padding: 15px;
   font-family: "Montserrat", sans-serif;
   @include phone{
     margin-top: 0px !important;
     background: rgba($black, 0);
   }
   h2 {
     margin: 0px;
     padding: 0px;
     color: $white;
     font-size: 22px;
     font-weight: $weight-medium;
     padding-top: 6px;
     padding-bottom: 5px;
     @include phone{
       display: none;
     }
   }
   .flight-trip-type {
     @include fullRow;
     margin-bottom: 15px;
     ul {
       margin: 0px;
       padding: 0px;
       list-style: none;
       li {
         background: none;
         color: $yellow;
         cursor: pointer;
         font-size: 12px;
         font-weight: $weight-medium;
         @include transition;
         padding-left: 0;
         padding-right: 10px;
         // switchstart /
         .Switch {
           position: relative;
           height: 18px;
           border: 1px solid $yellow;
           @include border-radius(30px);
           background: $yellow;
           box-shadow: 0px 0px 4px rgba($black, 0.1), inset 0px 1px 3px 0px rgba($black, 0.1);
           cursor: pointer;
           &.Round {
             padding: 0px 20px;
             top: 3px;
             width: 45px;             
             &.On {
               .Toggle {
                 left: 0%;
               }
             }
             &.Off {
               .Toggle {
                 /*left: 56.2%;*/                 
                 left: calc(100% - 1px);
                 transform: translateX(-100%);
               }
             }
           }
           /*span {
               display: inline-block;
               width: 35px;
               &.On {
                   color: #33d2da;
               }
           }*/
           .Toggle {
             position: absolute;
             top: -1px;
             background: $white;
             box-shadow: inset 0px 1px 0px 0px rgba($searchWidget-txt, 0.5);
             @include transition;
             width: 18px;
             height: 18px;
             @include border-radius(50%);             
           }
         }
         .Round:active .Toggle {
          width: 30px;                         
      }
         &.clor-light {
           color: $lightgray;

         }

       }
     }
    }
   // Search Widget Area
   .flight-searchGroup, .trip-date_searchGroup, .travelers-selector{
     position: relative;
     .ember_inputGroup{
       @extend .positionRel;
       border-bottom: 1px solid $white;
       padding-bottom: 4px;
       width: 90%;
         label{
           margin-bottom: 2px;
           >span{
             color: $searchWidget-border;
             font-size: 14px;
             font-weight: $weight-light;
             padding: 0;
           }
         }
         .typeahead{
           width: 100%;
           border: 0px;
           height: 37px;
           padding: 0px;
           padding-right: 30px;
           background: transparent;
           box-shadow: 0px 0px;
           text-transform: uppercase;
           color: $white;
           font-size: 24px;
           font-weight: $weight-semibold;
           &.form-control{
             @include border-radius (0);
             &[placeholder]{
               color: $white;
             }
             &::-webkit-input-placeholder{
               color : $white;
               text-transform: none !important;
             }
             &::-moz-placeholder{
               color : $white;
               text-transform: none !important;
             }
             &:-ms-input-placeholder{
               color : $white;
               text-transform: none !important;
             }
           }
           &.sub_location{
             text-transform: inherit;
             font-size: 14px;
             font-weight: $weight-light;
             height: auto;
           }
         }
       .clear-input{
         color: $white;
         @include border-radius(50%);
         cursor: pointer;
         position: absolute;
         top: 30px;
         right: 5px;
         font-weight: 600;
         width: 20px;
         height: 20px;
         text-align: center;
         @include transparent ($white, 0.5)
       }
     }
   }
   //depart and Retrun Date area
   .trip-date_searchGroup{
      margin-top: 20px;
     .calendarField{
       font-size: 14px;
       font-weight: $weight-light;
       color: $white;
     }
   }

   //travelers and Coach Area
   .travelers-selector{
     margin-top: 20px;
     .pasngr-field{
       position: relative;
       .typeahead {
         padding-left: 30px;
         letter-spacing: 2px;
         cursor: default;
        }
     }
     .coach-selector{
       .typeahead {
         padding-left: 30px;
         cursor: default;
       }

     }
   }
   // flight passenger DropDown Area
   .trvl-dropdown{
     display: none;
     @include border-radius (3px);
     background: $white;
     border: 1px solid $searchWidget-border;
     @include box-shadow(0 0 2px 0 rgba($button-text,0.2));
     position: absolute;
     text-align: left;
     top: 71px;
     left: 14px;
     width: 268px;
     z-index: 50;
     @include transition;
     &:before{
       content: "";
       float: $left;
       border-bottom: 8px solid $white;
       border-left: 8px solid transparent;
       border-right: 8px solid transparent;
       margin: -8px 0 0 30px;
     }
     .be-close-panel{
       position: absolute;
       right: -4px;
       top: -4px;
       width: 20px;
       height: 20px;
       text-align: center;
       font-weight: 600;
       color: $white;
       cursor: pointer;
       @include border-radius(50%);
       background-color: $lightgray;
       z-index: 45;
     }
     .be-pasngrCount{
       padding: 12px 12px;
       padding-top: 20px;
       @extend .fullWidth;
       @extend .positionRel;
       label{
         font-weight: $weight-medium;
         color: $lightBlack;
         font-size: 14px;
         span{
           color: $lightgray;
           font-size: 11px;
           font-weight: $weight-light;
         }

       }
       .plus-misWarp{
         background-color: $white;
         border: 1px solid $searchWidget-border;
         @include border-radius(4px);
         margin-top: 7px;
         padding: 3px 0;
         width: 100%;
         float: $left;
         @include box-shadow(-3px -3px 0px 0px rgba($searchWidget-border, 0.75));
         .qtyminus,.qtyplus,.qty{
           background: transparent;
           width: 30px;
           color: $black;
           font-size: 18px;
           text-align: center;
           display: inline-block;
           border: 0;
           &:focus {
             outline: none !important;
             box-shadow: none !important;
           }
         }
         .qty{
           padding: 0;
           font-size: 25px;
         }

        }
     }
     &._coachClass{
       left: inherit;
       right: 12px;
       width: 225px;
       .flight-class-type{
         @include fullRow;
         padding: 12px 12px;
         @extend .positionRel;
         ul{
           padding: 0;
           margin: 0;
           list-style-type: none;
           > li{
             input{
               &[type=radio].radiobox{
                 position:absolute;
                 z-index:-1000;
                 left:-1000px;
                 overflow: hidden;
                 clip: rect(0 0 0 0);
                 height:1px; width:1px; margin:-1px; padding:0; border:0;
                 &:checked + label.flightClass{
                 background-position: 0 -25px;
                 color: $lightBlack;
                 }
               }
               + label.flightClass{
                 padding-left:30px;
                 height:25px;
                 display:inline-block;
                 line-height:25px;
                 background-repeat:no-repeat;
                 background-position: 0 0;
                 color: $gray;
                 font-size: 14px;
                 font-weight: $weight-normal;
                 vertical-align:middle;
                 cursor:pointer;
               }
             }
              label{
                &.flightClass {
                 background-image:url('#{$theme-iconsPath}radiobox.png');
                 -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none;
                 -ms-user-select: none; user-select: none;
                 }
              }
           }
         }
       }
     }
   }
 }
 .widgets-button, .small-ctn{
    button{
      &.btn{
        @include gradient-vertical ($brightYellow, $yellow, 0%, 100%);
        @extend .fullWidth;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 22px;
        font-weight: $weight-semibold;
        color: $black;
        border: 0;
        &:hover{
          color: $black;
          transition: all 0.3s ease;
        }
        &:active {
          color: $black;
          @include gradient-vertical ($yellow, $brightYellow, 0%, 100%);
        }
        &:focus {
          outline: none !important;
        }
      }
    }
 }
 .small-ctn{
   display: inline-block;
   float: $right;
   button{
     &.btn{
       //padding: 0;
       font-size: 14px;
     }
   }
 }
 .ember_wsepartor{
   position: absolute;
   width: 45px;
   height: 45px;
   top:50%;
   left: 50%;
   margin-left: -22px;
   margin-top: -22px;
   z-index: 50;
   &[role=switch-city]{cursor:pointer}
 }
 // widget Sprite Group
 .widget_sprite{
   width:45px;
   height: 45px;
   background-image: url('../images/icons/widget_sprite.png');
   background-repeat: no-repeat;
   display: inline-block;
   &.flight-swipe-icon{
     background-position: 0 0;
   }
   &.separtor-icon{
     background-position: 0 -135px;
   }
   &.ptravelers-icon{
     background-position: -6px -46px;
     position: absolute;
     top: 18px; left: -4px;
     width: 28px;
   }
   &.classCoach-icon{
     background-position: -6px -88px;
     position: absolute;
     top: 18px; left: -4px;
     width: 28px;
   }
   &.sortdesc-icon{
     background-position: 2px -180px;
     position: absolute;
     top: 34px; right: 0px;
     width: 22px; height: 16px;
     &._up{
       background-position: 2px -193px;
     }
   }
 }



